@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
*:focus-visible {
  outline: 2px solid #1f3f5b;
}

img {
  max-width: 100%;
}

body {
  max-width: 1726px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

html {
  font-size: 16px;
}

body .main .card .card__body .card__name, body .main .card .card__body .card__name button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main * {
  font: normal 1rem "Rubik", sans-serif;
  color: #fff;
  text-transform: capitalize;
}

body .main {
  padding: 50px 0;
  width: 100%;
  min-height: 100vh;
  background-color: #0f1424;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-template-rows: repeat(2, 250px);
  justify-content: center;
  align-content: center;
  gap: 2rem;
}
body .main .card {
  cursor: pointer;
  max-width: 250px;
  min-width: 250px;
  min-height: 250px;
  max-height: 250px;
  display: flex;
  align-items: flex-end;
  position: relative;
}
body .main .card .card__color {
  height: 100%;
  border-radius: 10px 10px 20px 20px;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
body .main .card .card__color .card__img {
  position: absolute;
  right: 15px;
  margin-top: -10px;
}
body .main .card .card__body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  width: 100%;
  min-height: 205px;
  position: relative;
  padding: 1.5625rem;
  background-color: #1c1f4a;
  border-radius: 15px;
}
body .main .card .card__body .card__name {
  margin-bottom: 1.5625rem;
  justify-content: space-between;
  min-width: 100%;
}
body .main .card .card__body .card__name h2 {
  font-weight: 600;
}
body .main .card .card__body .card__name button {
  background-color: transparent;
  cursor: pointer;
}
body .main .card .card__body .card__time {
  display: flex;
  flex-direction: column;
}
body .main .card .card__body .card__time .card__hours {
  font-size: 3rem;
  font-weight: 300;
}
body .main .card .card__body .card__time .card__description {
  margin-top: 1.25rem;
  color: #bdc1ff;
}
body .main .card:hover .card__body {
  background-color: #313681;
}
body .main .profile {
  grid-row-start: 1;
  grid-row-end: 3;
  margin: 0 auto;
  max-width: 250px;
  min-width: 250px;
  min-height: 280px;
  border-radius: 15px;
  background-color: #1c1f4a;
}
body .main .profile__colors {
  background-color: #5847eb;
  border-radius: 10px 10px 20px 20px;
  padding: 2.1875rem;
  min-height: 67%;
}
body .main .profile__colors .profile__img {
  max-width: 40%;
  border: 3px solid #fff;
  margin-bottom: 1.875rem;
  border-radius: 50%;
}
body .main .profile__colors .colors__text span {
  display: block;
  margin-right: auto;
  color: #bdc1ff;
}
body .main .profile__colors .colors__text h1 {
  font-size: 3rem;
  font-weight: 300;
}
body .main .profile__format {
  display: flex;
  min-height: 33%;
  padding: 1.5625rem 2.1875rem;
  flex-direction: column;
  justify-content: space-between;
}
body .main .profile__format button {
  padding: 0.3125rem 0;
  background-color: transparent;
  text-align: start;
  font-size: 1.3rem;
  color: #bdc1ff;
  cursor: pointer;
  transition: 100ms ease all;
}
body .main .profile__format button:hover {
  color: #fff;
}
body .main .profile__format .format__button:nth-child(2) {
  color: #fff;
}

.main .work .card__color {
  background-color: #ff8c66;
}
.main .play .card__color {
  background-color: #56c2e6;
}
.main .study .card__color {
  background-color: #ff5c7c;
}
.main .exercise .card__color {
  background-color: #4acf81;
}
.main .exercise .card__color .card__img {
  top: 10px;
}
.main .social .card__color {
  background-color: #7536d3;
}
.main .self-care .card__color {
  background-color: #f1c65b;
}

@media only screen and (max-width: 1235px) {
  body .main {
    gap: 2rem;
    grid-template-columns: repeat(3, max-content);
  }
}
@media only screen and (max-width: 926px) {
  body .main {
    gap: 2rem;
    grid-template-columns: repeat(2, max-content);
  }
}
@media only screen and (max-width: 602px) {
  body .main {
    grid-template-rows: repeat(1, 180px);
    gap: 1.5rem;
    grid-template-columns: repeat(1, max-content);
  }
  body .main .profile {
    min-width: 350px;
    min-height: auto;
    max-height: 180px;
    grid-row-end: auto;
  }
  body .main .profile .profile__colors {
    display: flex;
    min-height: auto;
    align-items: center;
    justify-content: space-around;
    padding: 1.5625rem 1.25rem;
  }
  body .main .profile .profile__colors .profile__img {
    margin: 0;
    width: 70px;
  }
  body .main .profile .profile__colors .colors__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  body .main .profile .profile__colors .colors__text h1 {
    font-size: 1.6rem;
  }
  body .main .profile .profile__format {
    min-height: 35%;
    flex-direction: row;
    align-items: center;
    padding: 0.125rem 1.25rem;
  }
  body .main .profile .profile__format .format__button {
    font-size: 1.1rem;
  }
  body .main .card {
    min-height: 155px;
    max-height: 155px;
    max-width: 350px;
    min-width: auto;
  }
  body .main .card .card__body {
    min-height: auto;
    padding: 1.5625rem;
  }
  body .main .card .card__body .card__name {
    margin-bottom: 10px;
  }
  body .main .card .card__body .card__time {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  body .main .card .card__body .card__time .card__hours {
    font-size: 1.9rem;
  }
  body .main .card .card__body .card__time .card__description {
    margin: 0;
  }
}
@media only screen and (max-width: 382px) {
  body .main .card {
    width: 90vw;
    margin: auto;
  }
  body .main .profile {
    width: 90vw;
    max-width: none;
    min-width: auto;
  }
  body .main .profile .profile__colors .colors__text h1 {
    font-size: 1.3rem;
  }
}

/*# sourceMappingURL=styles.css.map */
