* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    &:focus-visible {
        outline: 2px solid #1f3f5b;
    }
}

img {
    max-width: 100%;
}

body {
    max-width: 1726px;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

html {
    font-size: 16px;
}