//fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
$font-rubik: 'Rubik',
sans-serif;
//Principal colors
$blue: rgb(88,
71,
235);
$light-red:#ff8c66; // work
$soft-blue:#56c2e6; // play
$dark-red:#ff5c7c; // study
$lime-green:#4acf81; //exercise
$violet:#7536d3; //social
$soft-orange:#f1c65b; // self care
//Neutral Colors
$very-dark-blue:#0f1424;
$dark-blue:#1c1f4a;
$desaturated-blue:#6f76c8;
$pale-blue:#bdc1ff;
$white:#fff;